body {
    font-family: sans-serif;
}


button {
    background-color: #5474ff;
    border-radius: 3px;
    color: white;
    font-size:1.1em;
    transition: background-color 0.5s;

}
button:not(.disable):hover {
    background-color: #811ffe;
}

button.disable {
    opacity: 0.8;
}

div.table {
    display: grid;
    grid-template-columns: auto auto 5.5em;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-color: rgba(100,100,100,1);

}
.hidden {
    display: none;
}

header {
    background-color: #5474ff;
    display: grid;
    grid-template-columns: auto auto;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

div.table div {
    border-top: solid 1px;
    border-left: solid 1px;
    line-height: 1.6;
    transition: background-color 0.5s;

}
div.table div:hover {
    background-color: #dddddd;
    transition: background-color 0.5s;
}

.hebrew {
    dir: rtl;
    text-align: right;
    font-family: Arial;
    font-size: 1.2em;
}


@media screen and (max-width: 600px) {
    body {
        font-size: 2em;
    }
    input {
        border-style: none;
        font-size: 2em;
    }
}
